spring:
  application:
    name: dept-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/dept_emp_db 
    username: postgres
    password: admin123

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true

server:
  port: 8081	