spring:
  application:
    name: dept-service
  
  datasource:
    url: jdbc:postgresql://localhost:5432/dept_emp_db 
    username: postgres
    password: admin123

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost 	

server:
  port: 8081	